@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-primary-dark: #1e40af;
  --color-emergency: #dc2626;
  --color-emergency-dark: #b91c1c;
  --color-surface: #f1f5f9;
  --color-yes: #dc2626;
  --color-no: #475569;
  --color-no-dark: #334155;
}
